.container {
  display: flex;
  align-items: center;
  height: calc(100% - 106px);
}
.cards {
  /* border: 1px solid green; */
  display: flex;
  /* overflow: scroll; */
}
.title_active {
  width: 100%;
  padding: 10px 40px 10px 15px;
  /* border-bottom: 1px solid var(--lines); */
  color: white;
}

/* //RESPONSIVITY */
@media(max-width: 1480px) {

  .cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;
  width: 100%;
  height: 620px;
  }
  .card_container {
    width: max-content;
    /* border: 1px solid darkcyan; */
  }
}

@media(max-width: 1150px) {
  .cards{
    /* border: 1px solid red; */
    grid-template-columns: 2fr 3fr;
    
  }
}
@media(max-width: 790px) {
  .cards{
    /* border: 1px solid red; */
    grid-template-columns: 1fr;
  }
  .card_container {
    width: 90%;
    border: 1px solid green;
  }
}