.snippets {
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px;
  width: 95%;
  height: max-content;
  margin-top: 25%;
  margin-left: 28px;
  margin-bottom: 25%;
  border: 1px solid var(--lines);
  border-radius: 15px;
  
}

.lines{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */

}
.code {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}
.teste{
  display: flex;
  gap: 5px;
}


/* CORES */
.blue{
  color:var(--blue)
}
.pink{
  color:var(--pink)
}
.orange{
  color:var(--orange)
}

/* //RESPONSIVITY */

