.container{
  display: flex;
  position: relative;
  height: 84%;
}
.text_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  margin-left: 120px;
}
.hi {
  color: var(--ice);
}
.title {
  font-size: var(--headline);
  font-weight: 400;
  color: var(--ice);
}
.stack {
  font-size: var(--subheadline);
  color: var(--blue);
  font-weight: 450 ;
}
.snippets {
  color: var(--white);
}
.const {
  color: var(--blue);
}
.githublink {
  color: var(--green);
}
.link {
  color: var(--orange);
}
/* img side */
.img_side {
  display: flex;
  align-items: center;
  position: relative;
}
.photo_container {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  /* margin-left: 200px; */
  left: 200px;
  opacity: .87;
  overflow: hidden;
  position: absolute;
  /* border: 1px solid red; */
}
.photo {
  width: 100%;
  /* height: 600px; */
}

.green_blur {
width: 200px;
height: 200px;
background-color: var(--green);
border-radius: 50%;
position: absolute;
top: 100px;
right: 300px;
filter: blur(130px);
}
.blue_blur {
  width: 300px;
  height: 100px;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  top: 350px;
  left: 1100px;
  filter: blur(130px);
}

@media(max-width:1350px){
  .photo_container {
    left: 150px;
  }
}
@media(max-width:1300px){
  .photo_container {
    left: 100px;
  }
}
@media(max-width:1250px){
  .photo_container {
    left: 50px;
  }
}
@media(max-width:1200px){
  .container {
    justify-content: center;
  }
  .photo_container {
   display: none;
  }

}


@media(max-width:800px){
  .text_side {
    /* border: 1px solid red; */
    padding: 0;
    margin-left: 20px;
    align-items: center;
  }
}