.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}
.nav_menu ul {
  display: flex;
  height: 100%;
}
.nav_menu ul li {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--lines);
  transition: all ease .2s;
}
.nav_menu ul li a {
  padding: 15px 30px;
}
:global(a.active){
  border-bottom: 2px solid var(--orange);
}
:global(a.active:hover){
  border-bottom: none;
}

.nav_menu ul li:hover{
  border-bottom: 2px solid rgba(254, 165, 95, 0.5)
}

/* MOBILE MENU */
.mobileButton {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  color: var(--primary);
  /* border: 1px solid red; */
}
.mobileButton::after {
  content:'';
  display: block;
  width: 1.9rem;
  height: 2px;
  background-color: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .3s;
}
.mobileButton:focus,
.mobileButton:hover {
  color: white;
}
.mobileButtonActive:after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.navMobile {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  top: 55px;
  right: 0px;
  /* padding: 0 1.6rem; */
  border: 1px solid var(--lines);
  transform: translateX(-10px);
  opacity: 0;
  background-color: var(--card-background);
  pointer-events: none;
}
.navMobile ul {
  display: grid;
}
.navMobile ul li {
  border-right: none;
  border-bottom: 1px solid var(--lines);
  width: 100%;
}

.navMobile ul li a {
  width: 100%;
  border: none;
  color: var(--white);
}
.navMobile ul li a:hover,
.navMobile ul li a:focus,
.navMobile ul li a:active {
  background-color: rgba(255,255,255 .5);
}

.navMobileActive {
  transition: .3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
}


/* RESPONSIVITY */
@media(max-width: 750px) {
  .btn_mobile {
    display: block;
  }
  
  .nav {
    justify-content: space-between;
  }
  .btn_mobile {
    padding-right: 20px;
  }
  .nome_container {
    border: none;
  }
}

