.header{
  display: flex;
  /* justify-content: space-between; */
  height: 56px;
  align-items: center;
  border-bottom: 1px solid var(--lines);
}
.nome_container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-right: 1px solid var(--lines);
}

@media(max-width: 750px) {
  .nome_container {
    border: none;
  }
}

@media(max-width: 750px) {
  .nome_container {
    width: 90%;
}
}
