.footer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid var(--lines);
}
.social{
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  border-right: 1px solid var(--lines);
}
.social p {
  padding-right: 20px;
}
.icons {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}
.icon_container {
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  border-left: 1px solid var(--lines);
}
.icon {
  height: 100% ;
  
}
.github_container {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  padding: 0 20px;
  border-left: 1px solid var(--lines);
}

@media(max-width: 750px) {
.social {
  display: none;
}
}
