.main_container {
  margin: 40px 40px;
  max-width: 100%;
  height: calc(100vh - 80px);
  border-radius: 0.5em;
  background-color: var(--background);
  border: 1px solid var(--lines);
  overflow: hidden;
  position: relative;
}
