.education {
  display: grid;
  gap: 10px;
}
.university {
  display: flex;
  align-items: center;
  gap: 10px;
}
.education h2 {
  max-width: 50ch;
  font-size: 1.8rem;
  line-height: 2.7rem ;
  padding-top: 20px;
}
.education p {
  max-width: 50ch;
  font-size: 1.4rem;
  line-height: 0;
  padding: 4px 28px;
}
.education ul {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.education ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  width: max-content;
}